<h3>Post Form</h3>
<%= form_for(@post) do |f| %>
    <label>Post Title:</label><br>
    <h1><%= f.text_field :title %></h1> <br>
    
    <label>Post description</label><br>
    <p> <%= f.text_area :description  %></p>

    <%= f.submit %>

<% end %>


